.uploader {
  width: 300px;
  height: 300px;
  position: fixed;
  background-color: #FFFFFF;
  bottom: 0;
  right: 0;
  padding: 20px;
  border-radius: 12px;
  overflow-y: auto;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    color: #12B8FF;
    font-size: 1.2rem;
  }

  &__close {
    padding: 3px;
  }
}
