@import './src/styles/vars';

.uploader {
  width: 300px;
  height: 300px;
  position: fixed;
  background-color: white;
  bottom: 0;
  right: 0;
  padding: 20px;
  border-radius: 12px;
  overflow-y: auto;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-weight: 700;
  }

  &__close {
    padding: 3px;
  }
}
