@import './src/styles/vars';

.file-item-list {
  color: white;
  margin: 10px 0;
  border-bottom: 2px solid white;
  display: grid;
  grid-template-columns: 1fr 4fr repeat(4, 1fr);
  align-items: center;

  &:hover {
    transform: scale(1.01);
    cursor: pointer;
  }

  &__img {
    justify-content: center;
  }

  &__date-dir, &__date-file {
    grid-column-start: 5;
    justify-self: center;
  }

  &__size {
    grid-column-start: 6;
    justify-self: center;
  }

  &__btn {
    display: none;
    margin-right: 10px;
  }

  &:hover &__date-file {
    grid-column-start: 3;
  }

  &:hover &__size {
    grid-column-start: 4;
  }

  &:hover &__download {
    display: block;
    grid-column-start: 5;
  }

  &:hover &__delete {
    display: block;
    grid-column-start: 6;
  }
}

.file-item-plate {
  color: white;
  width: 150px;
  height: 150px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__img {
    width: 100px;
    height: 100px;
  }

  &__btns {
    margin-top: 5px;
    display: none;
  }

  &:hover &__btns {
    display: flex;
    gap: 5px
  }
}
