@import './src/styles/vars';

.upload-file {
  background-color: $primary;
  border-radius: 12px;
  margin: 5px 0;
  padding: 5px 10px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  &__name {
    overflow: hidden;
  }

  &__progress-bar {
    height: 1rem;
    border-radius: 12px;
    background-color: white;
    display: flex;
    margin: 3px 0;
    position: relative;
  }

  &__upload-bar {
    background-color: green;
    border-radius: 12px;
    width: 0;
  }

  &__percent {
    color: black;
    left: 50%;
    position: absolute;
    top: -4px;
  }
}
