.navbar {
  display: flex;
  align-items: center;
  height: 50px;
  background: #FFF;
  width: 100%;
  padding: 20px;
  margin-top: 10px;
  border-radius: 12px;

  &__header {
    font-size: 24px;
    font-weight: 700;
  }

  &__login {
    margin-left: auto;
    margin-right: 20px;
  }

  &__logout {
    margin-left: auto;
    cursor: pointer;
  }

  &__search {
    width: 200px;
    margin-left: 25vw;
  }
}
