@import './src/styles/vars';

.navbar {
  display: flex;
  align-items: center;
  height: 50px;
  background: white;
  width: 100%;
  padding: 20px;
  margin-top: 10px;
  border-radius: 12px;

  &__logo {
    a {
      text-decoration: none;
    }

    p {
      font-size: 24px;
      font-weight: 700;

      background: linear-gradient(
                      to right,
                      $primary 0%,
                      $thirdly 40%,
                      $secondary 80%
      );
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      text-fill-color: transparent;
      background-size: 500% auto;
      animation: textShine 5s ease-in-out infinite alternate;
    }
  }

  &__login {
    margin-left: auto;
    margin-right: 20px;
  }

  &__logout {
    margin-left: auto;
    margin-right: 20px;
    cursor: pointer;
  }

  &__search {
    width: 200px;
    margin-left: 25vw;
    transition: all .3s ease;

    :focus {
      border-bottom: 2px solid $primary;
    }
  }

  &__avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid $primary;
  }
}

@keyframes textShine {
  0% {
    background-position: 0 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
