@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Kanit:wght@400;700&display=swap');
@import './vars';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $primary;

  font-family: 'Kanit', sans-serif;
}

#root {
  width: 100%;
}

.btn {
  text-decoration: none;
  background: transparent;
  text-align: center;
  font-weight: 700;
  color: $primary;
  font-size: 16px;
  cursor: pointer;
  padding: 3px 10px;
  border: 2px solid $primary;
  border-radius: 12px;
  transition: all .5s ease;

  &-white {
    color: white;
    border: 2px solid white;
  }

  &:hover {
    color: $secondary;
    border: 2px solid $secondary;
  }
}

.select {
  text-align: left;
  background: transparent;
  font-weight: 700;
  outline: none;
  color: $primary;
  font-size: 16px;
  cursor: pointer;
  padding: 3px 10px;
  border: 2px solid $primary;
  border-radius: 12px;
  transition: all .5s ease;

  &-white {
    color: white;
    border: 2px solid white;
  }

  &:hover {
    color: $secondary;
    border: 2px solid $secondary;
  }

  option {
    color: $primary;
    font-weight: 700;
  }
}

.container {
  width: 95%;
  max-width: 1140px;
  margin: 0 auto;
}
