@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Kanit:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #26CCFF;

  font-family: 'Kanit', sans-serif;
}

#root {
  width: 100%;
}

.btn {
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  color: #26CCFF;
  cursor: pointer;
  padding: 3px 10px;
  border: 2px solid #26CCFF;
  border-radius: 12px;
  transition: all .5s ease;

  &-white {
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
  }

  &:hover {
    color: #FF26CC;
    border: 2px solid #FF26CC;
  }
}

.container {
  width: 95%;
  max-width: 1140px;
  margin: 0 auto;
}
