.disk {
  margin-top: 10px;
  padding: 30px;
  border: 5px solid white;
  border-radius: 12px;

  &__btns {
    display: flex;
    align-items: center;
  }

  &__create {
    margin-left: 10px;
  }

  &__upload-input {
    display: none;
  }

  &__upload-label {
    border: 2px dashed white;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px
  }

  &__select {
    margin-left: auto;
  }

  &__list, &__plate {
    height: 20px;
    width: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background: no-repeat center center;
    background-size: contain;
    margin-left: 10px;
    opacity: .5;
    transition: all .5s ease;

    &.active {
      opacity: 1;
    }
  }

  &__list {
    background-image: url("../../assets/list.svg");
  }

  &__plate {
    background-image: url("../../assets/plate.svg");
  }
}

.drop-area {
  width: 100%;
  height: calc(100vh - 90px);
  margin: 20px;
  border: 2px dashed white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
